@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot?96311109");
  src: url("fonts/fontello.eot?96311109#iefix") format('embedded-opentype'), url("fonts/fontello.woff?96311109") format('woff'), url("fonts/fontello.ttf?96311109") format('truetype'), url("fonts/fontello.svg?96311109#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity: .8; */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-spotify-circled:before {
  content: '\e800';
}
.icon-linkedin-circled:before {
  content: '\e801';
}
.icon-mail:before {
  content: '\e802';
}
.icon-info-circled:before {
  content: '\e803';
}
.icon-export:before {
  content: '\e804';
}
.icon-cancel-circled:before {
  content: '\e805';
}
@font-face {
  font-family: 'baskerville_10_proregular';
  src: url("fonts/baskerville10pro-webfont.eot");
  src: url("fonts/baskerville10pro-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/baskerville10pro-webfont.woff") format('woff'), url("fonts/baskerville10pro-webfont.ttf") format('truetype'), url("fonts/baskerville10pro-webfont.svg#baskerville_10_proregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'baskerville_10_proitalic';
  src: url("fonts/baskerville10pro-italic-webfont.eot");
  src: url("fonts/baskerville10pro-italic-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/baskerville10pro-italic-webfont.woff") format('woff'), url("fonts/baskerville10pro-italic-webfont.ttf") format('truetype'), url("fonts/baskerville10pro-italic-webfont.svg#baskerville_10_proitalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'baskerville_10_probold';
  src: url("fonts/baskerville10pro-bold-webfont.eot");
  src: url("fonts/baskerville10pro-bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/baskerville10pro-bold-webfont.woff") format('woff'), url("fonts/baskerville10pro-bold-webfont.ttf") format('truetype'), url("fonts/baskerville10pro-bold-webfont.svg#baskerville_10_probold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'baskerville_10_probold_italic';
  src: url("fonts/baskerville10pro-bolditalic-webfont.eot");
  src: url("fonts/baskerville10pro-bolditalic-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/baskerville10pro-bolditalic-webfont.woff") format('woff'), url("fonts/baskerville10pro-bolditalic-webfont.ttf") format('truetype'), url("fonts/baskerville10pro-bolditalic-webfont.svg#baskerville_10_probold_italic") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* normalize.css v2.0.1 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: none;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
  margin: 0; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cf:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cf {
  display: inline-block;
}
* html .cf {
  height: 1%;
}
.cf {
  display: block;
}
li {
  list-style: none;
}
html {
  font-family: 'baskerville_10_proregular', serif;
  font-size: 15px;
  line-height: 1.4;
  color: #442811;
}
img {
  max-width: 100%;
  height: auto;
}
.fixed {
  position: fixed;
}
.pointer:hover {
  cursor: pointer;
}
/* TYPOGRAPHY */
.font-uppercase {
  text-transform: uppercase;
}
.font-small {
  font-size: 13px;
}
.font-smaller {
  font-size: 11px;
}
div.pinterest {
  position: relative;
  bottom: 0;
  top: 2px;
  left: 2px;
}
.entypo {
  font: 1.5em fontello;
  line-height: 1.5em;
  margin-right: 5px;
}
.entypo-social {
  font: 1.5em fontello;
  line-height: 1.5em;
  margin-right: 5px;
}
i,
emphasis {
  font-family: 'baskerville_10_proitalic', 'baskerville_10_proregular', serif;
  font-style: normal;
}
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'baskerville_10_probold', 'baskerville_10_proregular', serif;
  font-weight: normal;
}
h3 {
  font: 15px 'baskerville_10_proregular', serif;
  font-weight: normal;
}
h2 {
  font-family: 'baskerville_10_proregular', serif;
}
p {
  padding-bottom: 0.5em;
}
#links li {
  margin-bottom: 8px;
}
/* LINKS */
a,
a:active,
a:visited {
  text-decoration: none;
  color: #442811;
}
#page-text p a {
  color: #9d9894;
  text-decoration: none;
}
a:hover {
  color: #a7c8cb;
}
/* STRUCTURE */
#view-project-text span.entypo {
  line-height: 0.4em;
  margin-right: 0;
}
#close-project-text span.entypo {
  line-height: 0.4em;
  margin-right: 0;
}
#mail-toggle a div.button span.entypo {
  line-height: 0.35em;
  margin-right: 0;
}
section#main-content {
  float: left;
  width: 925px;
  margin-top: 75px;
}
.single-post section#main-content {
  margin-top: 0px;
}
#top-bar {
  z-index: 999;
  position: absolute;
  top: 0px;
  height: 75px;
}
#top-bar-inner {
  top: 0px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 35px;
}
#top-bar-gradient {
  position: fixed;
  top: 35px;
  height: 40px;
  width: 100%;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, #fff 0%, rgba(255,255,255,0) 100%);
}
#bottom-fade {
  position: fixed;
  z-index: 888;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, #fff));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
}
/* NAV MENU */
nav#menu {
  float: left;
  width: 260px;
  padding: 20px;
}
div#menu-content {
  margin-top: 18px;
  margin-left: 2px;
}
nav#menu div {
  z-index: 999;
}
ul#links {
  padding-top: 18px;
  font-family: 'baskerville_10_proregular', serif;
}
ul#links .current-cat a,
ul#links .current a {
  color: #9d9894;
}
ul#links .current-cat:before,
ul#links .current:before {
  content: "— ";
  color: #9d9894;
}
/* POSTS - for all-page, home & cat indexes */
#posts,
#post,
#page,
#home-posts {
  padding: 20px;
  padding-top: 0px;
}
#posts,
#home-posts {
  padding-bottom: 100px !important;
}
.js #posts,
.js #home-posts,
.js #post {
  opacity: 0;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}
#posts article,
#home-posts article {
  float: left;
  margin-bottom: 10px;
  position: relative;
  background-color: #000;
}
#posts img,
#home-posts img {
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
  opacity: 1;
}
#posts article:hover img,
#home-posts article:hover img {
  opacity: 0.5;
}
article .holder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: table;
}
article .title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  padding-right: 10px;
  padding-left: 10px;
}
article .title:hover,
article a:hover {
  opacity: 1;
}
.news-header {
  margin-bottom: 10px;
}
.news-title {
  display: inline-block;
  font-size: 28px;
}
.news-date {
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  text-transform: uppercase;
}
.wp-caption,
wp-caption-text {
  width: 100% !important;
}
.wp-caption-text {
  font-size: 13px;
}
.news-hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* #TWIITER-FEED */
.tweet-img {
  display: block;
  max-width: 238px;
  padding: 10px 0;
}
.tweet-hr {
  margin-top: 30px;
}
#twitter-link {
  margin-top: 20px;
  margin-bottom: 100px;
  border: 1px solid #000;
  display: inline-block;
  padding: 10px;
}
/* HOME TEMPLATE */
#home-posts article.post-home {
  height: 300px;
  margin-bottom: 10px;
}
/* SINGLE PAGE */
body.page #post {
  padding-bottom: 100px;
}
#page p {
  max-width: 550px;
}
/* SINGLE COL */
.single-col section {
  max-width: 925px;
  margin: 0 auto;
}
/* TWO COL */
.two-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.two-col .main-col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 605px;
      -ms-flex: 0 1 605px;
          flex: 0 1 605px;
  margin-left: 25px;
}
.two-col .main-col p {
  max-width: 100%;
}
.two-col .small-col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 295px;
      -ms-flex: 0 1 295px;
          flex: 0 1 295px;
}
/* SINGLE POST */
body.single article {
  width: 860px;
  position: relative;
}
.post-header {
  padding-top: 13px;
  padding-bottom: 14px;
  position: relative;
  z-index: 999;
  height: 56px;
}
#single-header-inner {
  z-index: 777;
  width: 860px;
}
nav#scroll-up {
  position: fixed;
  height: 90px;
  width: 860px;
  top: 45px;
  z-index: 999;
}
nav#scroll-up:hover {
  cursor: n-resize;
}
header .right {
  position: absolute;
  top: 0px;
  right: 0px;
}
.button {
  height: 20px;
  margin-top: 0;
  top: 0;
  display: inline;
}
.button:hover {
  border-color: #acacac;
}
#toggle-project-text {
  display: inline;
}
#close-project-text {
  display: none;
}
#project-text {
  display: none;
}
#page-text p,
#project-text p {
  max-width: 580px;
}
#page-text-small {
  padding-top: 10px;
  font-size: 0.8em;
}
ul#nav-right,
ul#nav-right li {
  display: inline-block;
}
ul#nav-right li {
  vertical-align: top;
  padding-left: 5px;
  padding-right: 0px;
}
ul#nav-right li:hover {
  cursor: pointer;
}
ul#nav-right li img {
  max-height: 1.5em;
  width: auto;
}
#page-text,
#project-text,
#mail,
body.page ul.gallery {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #442811;
}
/* mail section */
#mail {
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  display: none;
}
#mail label {
  display: inline-block;
  width: 20%;
  padding: 5px;
}
#mail input {
  float: right;
  width: 66%;
  padding: 5px;
}
#mail input[type=submit] {
  width: 100px;
}
#mail div {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* GALLERY  */
.gallery .gallery-item {
  display: block;
  padding-bottom: 10px;
}
.gallery .gallery-item-holder {
  position: relative;
}
.gallery .gallery-img:hover {
  cursor: s-resize;
}
.gallery .gallery-item:last-child .gallery-img:hover {
  cursor: n-resize;
}
.gallery .gallery-caption {
  text-align: left;
  padding-top: 0.2em;
  font-size: 0.8em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}
.gallery .gallery-caption-toggle {
  position: absolute;
  width: 5px;
  height: 5px;
  padding: 5px;
  left: -18px;
  bottom: 8px;
}
#gallery-indicators {
  display: inline-block;
  vertical-align: top;
}
#gallery-indicators li {
  width: 10px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
}
#gallery-indicators li:hover {
  cursor: pointer;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  nav#menu {
    width: 180px;
  }
  section#main-content {
    width: 700px;
  }
  body.single article,
  #single-header-inner {
    width: 660px;
  }
  #home-posts article.post-home {
    height: 230px;
  }
}
@media screen and (max-width: 920px) {
  #container {
    width: 765px;
  }
  nav#menu {
    width: 125px;
  }
  nav#menu .fixed {
    width: 125px;
  }
  section#main-content {
    width: 600px;
  }
  body.single article,
  #single-header-inner {
    width: 560px;
  }
  #home-posts article.post-home {
    height: 202px;
  }
  #posts,
  #home-posts {
    padding: 10px;
  }
}
@media screen and (max-width: 750px) {
  body {
    text-align: center;
  }
  #container,
  body.single article,
  #single-header-inner {
    width: 280px;
    margin: 10px auto;
    text-align: left;
  }
  header {
    border-top: 1px dotted #c0c0c0;
  }
  nav#menu {
    float: none;
    width: 280px;
    padding: 0px;
  }
  div#menu-content {
    margin-top: 5px;
    margin-left: 2px;
    width: 200px;
  }
  nav#menu .fixed {
    width: auto;
  }
  img#logo,
  #menu-content {
    float: left;
  }
  img#logo {
    width: 50px;
    margin-right: 15px;
  }
  .fixed {
    position: relative;
  }
  section#main-content {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  #posts,
  #home-posts {
    padding-bottom: 100px !important;
    margin-top: 30px;
  }
  #posts,
  #post,
  #home-posts {
    padding: 0px;
  }
  #home-posts article.post-home {
    height: 98px;
  }
  #post header {
    height: auto;
    padding-top: 10px;
  }
  #top-bar,
  #scroll-up,
  #gallery-indicators,
  .gallery-caption-toggle,
  .gallery-caption {
    display: none;
  }
  .two-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .two-col .main-col {
    margin-left: 0;
  }
}
